.dark {
	background: #2d2d2d;
	color: white;
}
.dark hr {
	border-color: grey;
}
.dark code{
	background: grey;
}
.dark #settings_actions{
	background: #2d2d2d;
}
.dark .tabcontent{
	color-scheme: dark;
}
.dark .tabs {
	background: #202020;
}
.dark .tabs button {
	color: white;
}
.dark .tabs button:hover {
	background-color: #303030;
}
.dark .tabs button:active, .dark .tabs button.active {
	background-color: #454545;
}
.dark .browse{
	color: white;
}
.dark #output{
	background: #181818;
	color: antiquewhite;
}
.dark .input_element {
	background: #444;
	border-color: #666;
}
.dark .text_style_btn {
	--checked-color: #888;
	border-color: #888;
}
.dark .link{
	color: #00C0FF;
}
.dark #github{
	fill: white;
}
.dark .translations{
	color: white;
}
.dark .translations tr:nth-child(even) {
	background: #212529;
}
.dark .translations tr:nth-child(odd) {
	background: #2c3034;
}
.dark .translations tr:hover{ background: darkcyan; }

.dark .link code{
	background: #505050;
}

.dark #preview_zone .icon{
	color: white;
}
.dark #preview_zone .ok{
	color: lime;
}
.dark #preview_zone .now{
	color: yellow;
}

.dark .popup > div{
	background: rgba(0, 0, 0, 0.75);
	color: white;
}
.dark .popup > div svg{
	fill: lime;
}
.dark .popup button {
	--btn-color: rgba(0, 0, 0, 0.75);
}
