.dark {
	background: #2d2d2d;
	color: white;
}
.dark code{
	background: grey;
}
.dark .tab {
	background: #202020;
}
.dark .tab button {
	color: white;
}
.dark .tab button:hover {
	background-color: #303030;
}
.dark .tab button:active, .dark .tab button.active {
	background-color: #454545;
}
.dark .browse{
	color: white;
}
.dark #current_work_file{
	color: lightgreen;
}
.dark #output{
	background: #181818;
	color: antiquewhite;
}