.dark {
	background: #2d2d2d;
	color: white;
}
.dark code{
	background: grey;
}
.dark .tab {
	background: #202020;
}
.dark .tab button {
	color: white;
}
.dark .tab button:hover {
	background-color: #303030;
}
.dark .tab button:active, .dark .tab button.active {
	background-color: #454545;
}
.dark .browse{
	color: white;
}
.dark #output{
	background: #181818;
	color: antiquewhite;
}
.dark .link{
	color: #00C0FF;
}
.dark #github{
	fill: white;
}
.dark .translations{
	color: white;
}
.dark .translations tr:nth-child(even) {
	background: #212529;
}
.dark .translations tr:nth-child(odd) {
	background: #2c3034;
}
.dark .translations tr:hover{ background: darkcyan; }

.dark .link code{
	background: #505050;
}

.dark #preview_zone .icon{
	color: white;
}
.dark #preview_zone .ok{
	color: lime;
}
.dark #preview_zone .now{
	color: yellow;
}
