:root{
	scroll-behavior: smooth;
}
body{
	font-family: sans-serif;
}
code{
	font-family: monospace;
	background: lightgrey;
	padding: 3px 5px 3px 5px;
	border-radius: 8px;
}
input[type="checkbox"]{
	cursor: pointer;
}
label{
	cursor: pointer;
}
.tabcontent{
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
.tabcontent.showed{
	display: block;
}
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-weight: bold;
	font-size: 15px;
}
.tab button:hover {
	background-color: #ddd;
}
.tab button:active, .tab button.active {
	background-color: #ccc;
}

.browse{
	font: 14pt "Ubuntu", sans-serif;
	background: none;
	text-align: center;
	border: 2px solid #3498db;
	padding: 8px 20px;
	outline: none;
	border-radius: 20px;
	transition: 0.2s;
	white-space: nowrap;
	cursor: pointer;
}
.browse:hover{
	padding: 8px 40px;
	border-color: yellow;
}
.browse:active{
	border-color: green;
}

#fileCleaner{
	border-color: darkred;
}
#fileCleaner:hover{
	border-color: red;
	padding: 8px 30px;
}
#fileCleaner:active{
	color: red;
}

#preview_zone{
	margin-top: 10px;
	margin-left: 10px;
	font-family: monospace;
}
#preview_zone summary{
	cursor: pointer;
	margin-bottom: 10px;
}

#preview_zone .icon{
	color: black;
}
#preview_zone .ok{
	color: #00c200;
}
#preview_zone .now{
	color: #0075ff;
}
#preview_zone .error{
	color: red;
}

.path{
	font-family: monospace;
	max-width: 60%;
	padding: 1px 4px;
	display: inline-block;
	border-radius: 8px;
	direction: RTL;
}
.path_button{
	border-radius: 6px;
	cursor: pointer;
	font-size: 14px;
}

#open_dir{
	display: none;
	margin: auto;
	padding: 8px 40px;
	max-width: 100%;
	background: #4691CF;
	color: white;
	font-size: 16px;
	border: none;
	text-transform: uppercase;
}
#open_dir:hover{
	padding: 8px 70px;
	background: #1c79c7;
}

#start_area{
	position: fixed;
	right: 10px;
	bottom: 14px;
}
#start_area > * {
	font-size: 18pt;
	background-color: #1CB0F6;
	border: solid transparent;
	border-radius: 16px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	letter-spacing: .8px;
	line-height: 20px;
	outline: none;
	padding: 12px 20px;
	transition: .2s ease-out;
	box-shadow: 0 4px 0 #1899D6;
	text-transform: uppercase;
}
#start_area > *:hover {
	filter: brightness(1.1);
	-webkit-filter: brightness(1.1);
}
#start_area > *:active {
	box-shadow: 0 0px 0 #1899D6;
	transform: translateY(4px);
}
#start_area > *:disabled {
	filter: grayscale(1);
	pointer-events: none;
}

#stop{
	background: red;
	box-shadow: 0 4px 0 darkred;
}
#stop:active {
	box-shadow: 0 0px 0 darkred;
}
#stop:disabled{
	filter: grayscale(0.8);
}

.settings-button {
	background-color: #2ea44f;
	border: 1px solid rgba(27, 31, 35, .15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	padding: 6px 16px;
	transition: .2s;
	margin: 0 2px 0 2px;
}
.settings-button:hover {
	background-color: #2c974b;
}
.settings-button:focus {
	box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
	outline: none;
}

.settings-button.blue{
	background-color: #0095ff;
}
.settings-button.blue:hover {
	background-color: #07c;
}
.settings-button.blue:focus {
	box-shadow: rgba(0, 100, 189, .4) 0 0 0 3px;
}

input[type="checkbox"]{
	vertical-align: text-bottom;
}

#progress{
	display: none;
	padding: 10px;
}
#progress > span{
	margin: 0 5px 0 5px;
}
#output{
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
}

.flexable{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link{
	color: blue;
	cursor: alias;
	vertical-align: top;
	text-decoration: none;
}
.version{
	margin-left: 5px;
	background: rgb(0, 150, 255, 0.5) !important;
}
.update{
	background: rgb(0, 255, 150, 0.5) !important;
	cursor: help;
}
.arrow:after{
	content: '→';
	display: inline-block;
	margin: 0 5px 0 5px;
}
#github{
	margin-right: 2px;
	vertical-align: bottom;
}

#console_wrapper{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}
#console_wrapper > button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	cursor: pointer;
}

.info_icon::after{
	content: "?";
	display: inline-block;
	color: red;
	font-weight: bold;
	cursor: help;
}
#loading{
	height: 50px;
	width: 50px;
}

.translations{
	width: 100%;
}
table td{
	padding: 5px;
}
.translations tr:nth-child(even) {
	background: #CCC;
}
.translations tr:nth-child(odd) {
	background: #EBEBEB;
}
.translations tr{
	transition: 0.2s;
}
.translations tr:hover{ background: yellow; }
